/*************************************************/
/*                    GLOBAL                     */
/*************************************************/

body.lengow-connector .middle {
  padding: 23px 27px 0 27px;
  background: transparent;
}

.lgw-footer {
  padding: 40px 0 60px 0;
}

.lgw-footer a {
  color: #464646;
  text-decoration: underline;
}

.lgw-footer a:hover {
  color: #00aeef;
}

.clear {
  clear: both;
}

/* DEBUG MODE */

#lgw-debug {
  color: white;
  background: #e55a4d;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
}

/* COUNTER FREE TRIAL */

body:not(.lengow-home-index) #lgw-counter,
body:not(.lengow-home-index) #lgw-plugin-available {
  background: #cdf1ff;
  border: 1px solid #00aeef;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 15px;
  font-size: 12px;
  display: inline-block;
}

#lgw-counter a,
#lgw-plugin-available a {
  color: #555;
  text-decoration: underline;
}

#lgw-counter a:hover,
#lgw-plugin-available a:hover {
  color: #00aeef;
  text-decoration: underline;
}

/*************************************************/
/*                    CONNECT                    */
/*************************************************/

.lgw-connection {
    max-width: 800px;
    position: relative;
    color: #52667a;
    padding: 30px;
    background: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid #d1d9e0;
}

.lgw-connection p {
    line-height: 1.5;
    margin: 0 0 10px;
    overflow-wrap: break-word;
}

.lgw-connection .lgw-margin-top-small {
    margin-top: 15px!important;
}

.lgw-connection .lgw-logo {
    margin-top: 30px!important;
    margin-bottom: 45px!important;
}

.lgw-connection .lgw-content-section {
    margin-bottom: 30px;
}

.lgw-connection .lgw-btn {
    font-weight: 600;
    margin: 15px 5px;
}

.lgw-connection .lgw-module-illu {
    display: block;
    height: 114px;
    margin: 60px auto 45px;
    position: relative;
    width: 426px;
}

.lgw-connection .lgw-module-illu.mod-connected {
    margin-top: 0px;
}

.lgw-connection .lgw-module-illu.mod-disconnected {
    margin: 60px auto 50px;
}

.lgw-connection .lgw-module-illu-lengow {
    position: absolute;
    right: 63px;
    top: 22px;
    z-index: 1;
}

.lgw-connection .lgw-module-illu-module {
    left: 50px;
    position: absolute;
    top: 12px;
    z-index: 1;
}

.lgw-connection .lgw-module-illu-module.mod-connected {
    left: 65px;
}

.lgw-connection .lgw-module-illu-plug {
    left: 128px;
    position: absolute;
    top: 21px;
    z-index: 0;
}

.lgw-connection .lgw-module-illu-plug.mod-connected {
    left: 158px;
    top: 0px;
}

.lgw-connection .lgw-module-illu-plug.mod-disconnected {
    left: 129px;
    top: -3px;
}

.lgw-connection h2 {
    font-size: 22px;
    color: #52667a;
    margin: 0 0 20px;
    font-weight: 400;
}

.lgw-connection input[type="text"] {
    margin-bottom: 32px;
    background: #fff;
    font-size: 12px;
    line-height: 22px;
    color: #52667a;
    padding: 12px 16px;
    border: 1px solid #d1d9e0;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}
.lgw-connection .lgw-content-input {
    width: 80%;
    margin: 0 auto;
}

.lgw-connection input[type="text"]:disabled {
    background: #f0f2f5;
    border-color: #d1d9e0;
    cursor: default!important;
}

.lgw-connection .lgw-catalog-select {
    border-radius: 4px;
    border: 1px solid #d1d9e0;
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 20px 40px;
    text-align: left;
}

.lgw-connection .lgw-catalog-select label {
    font-weight: 400;
    color: #52667a;
    margin: 0 0 10px;
}

.lgw-connection .lgw-catalog-select .select2-search  {
    z-index: auto;
}

.lgw-connection .select2-container {
    max-width: none;
    width: 100% !important;
    margin: 0 auto;
}

.lgw-connection .select2-search__field {
    padding: 0 15px !important;
    font-size: 12px !important;
    font-weight: normal;
    width: 100% !important;
    line-height: 22px;
}

/*************************************************/
/*                     HOME                     */
/*************************************************/

/*Dashboard*/

.lengow-home-index .lengow-nav {
  display: none;
}

/*Counter*/

.lengow-home-index #lgw-counter,
.lengow-home-index #lgw-plugin-available {
  color: #555;
  margin-top: 20px;
  font-size: 12px;
}

.lengow-home-index #lgw-counter a,
.lengow-home-index #lgw-plugin-available a {
  color: #00aeef;
  text-decoration: none;
}

.lengow-home-index #lgw-counter a:hover,
.lengow-home-index #lgw-plugin-available a:hover {
  text-decoration: underline;
}

.lengow-home-index #lgw-counter,
.lengow-home-indexr #lgw-plugin-available {
  margin-bottom: 10px;
}

.lengow-home-index #lgw-free-trial a:hover,
.lengow-home-index #lgw-bad-payer a:hover {
  text-decoration: none;
}

.lengow-home-index .lgw-col-4 a {
  color: #00aeef;
  text-decoration: none;
}


.lengow-home-index .lgw-label.red {
  padding: 0 8px;
}

.lgw-home-header {
  height: 290px;
  color: white;
  padding: 60px 30px 0;
  background: #2E3340;
}

.lengow-home-index .lgw-home-header a {
  color: inherit;
  text-decoration: none;
}

.lgw-home-header h1 {
  margin: 15px 0 5px;
  font-weight: 300;
  color: white;
}

.lengow-home-index .lgw-row h5 {
  margin: 0;
  padding: 0;
  font-style: initial;
  font-size: 15px;
}

.lgw-home-stats {
  margin: 60px 0 30px;
}

.lgw-home-menu .lgw-box {
  min-height: 280px;
  height: 340px;
}

/*************************************************/
/*                PAGE PRODUCT                   */
/*************************************************/

span.publish-lgw {
  text-align: center;
  display: block;
  width: auto;
  color: white;
  border-radius: 10px;
}

#lengow_product_store_name {
  display: inline-block;
  padding-top: 15px;
}

#parent_total_products, #parent_exported_products {
  display: inline-block;
}

#parent_exported_products {
  font-weight: bold;
}

.lengow-export-switcher {
  position: absolute;
}

.lengow_export_feed {
  position: absolute;
  right: 60px;
  padding-top: 10px;
}

body.lengow-product-index .products-exported {
  font-size: 17px;
  margin-bottom: -10px;
}

body.lengow-product-index .lengow_total {
  font-size: 17px;
  margin-bottom: -10px;
}

#parent_total_products {
  color: #828282;
}

/*************************************************/
/*                PAGE ORDER                     */
/*************************************************/

body.lengow-order-index a.lengow_action {
  cursor: pointer;
  white-space: nowrap;
}

body.lengow-order-index .lgw-col-8,
body.lengow-order-index .lgw-col-4 {
  padding: 0;
}

body.lengow-order-index .lgw-btn,
body.lengow-order-index .lgw-label {
  margin: 0px;
}

body.lengow-order-index td.data-grid-checkbox-cell {
  line-height: 40px;
}

body.lengow-order-index  td {
  vertical-align: inherit;
}

body.lengow-order-index td.lgw-order-types {
  width: 75px;
}

body.lengow-order-index .lgw-order-status {
  padding: 0 7px;
  height: auto;
  text-align: center;
  border-radius: 10px;
}

/*************************************************/
/*                   TOOLBOX                     */
/*************************************************/

#store-information,
#global-information,
#cron-information,
#checksum-information {
  width: 100%;
  margin: auto;
}

#lengow_action_grid .content-header {
  display: none;
}

.lengow-block {
  width: 45%;
  float: left;
  padding: 2%;
}

.lengow-block-full {
  width: 96%;
  padding: 2%;
}

.lengow-block-full textarea {
  width: 97%;
  min-width: 400px;
  height: 300px;
  resize: none;
  padding: 2%;
  border-color: #ddd;
}

.lengow-block table,
.lengow-block-full table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  margin-bottom: 20px;
  width: 100%;
}

.lengow-block table td,
.lengow-block-full table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.lengow-block table .title,
.lengow-block-full table .title {
  text-align: left;
}

.lengow-block table .value,
.lengow-block-full table .value {
  text-align: right;
}

.lengow-green {
  color: green;
}

.lengow-red {
  color: red;
}

.lengow-content-header {
  width: 100%;
  border-top: 2px solid #ddd;
  margin-top: 5px;
  margin-bottom: 10px;
}

#lengow_action_grid {
  margin-top: 15px;
}

body.lengow-toolbox-index .lgw-label {
  margin: 0px;
}

/*************************************************/
/*                SALES ORDER                     */
/*************************************************/

body.sales-order-view #sales_order_view_tabs_TAB_NAME_content button,
body.sales-order-view #sales_order_view_tabs_TAB_NAME_content button a {
  color: #fff;
  text-decoration: none;
}

body.sales-order-view #sales_order_view_tabs_TAB_NAME_content button:hover,
body.sales-order-view #sales_order_view_tabs_TAB_NAME_content button a:hover {
  color: #fff;
  text-decoration: none;
}

#lgw-info-title {
  float: left;
}

#lgw-info-btn {
  float: right;
}
