body.lengow-connector .middle, 
.lengow_body {
  background: #f7f7f7;
}

.lengow_body .nobootstrap {
  background: transparent;
  width: auto;
  min-width: inherit;
  margin: 0 auto;
  position: relative;
}

.lgw-container {
  width: 990px;
  margin: 0 auto;
}

/* GRID */

.lgw-row {
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
}

.lgw-row:after {
 clear: both;
 content: " ";
 display: block;
 width: 100%;
}

.lgw-col-9,
.lgw-col-8,
.lgw-col-7,
.lgw-col-6,
.lgw-col-5,
.lgw-col-4 {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.lgw-col-9 {
  width: 75%;
}

.lgw-col-8 {
  width: 66.66%;
}

.lgw-col-7 {
  width: 58.33%;
}

.lgw-col-6 {
  width: 50%;
}

.lgw-col-5 {
width: 41.67%;
}

.lgw-col-4 {
  width: 33.33%;
}

.lgw-col-offset-2 {
  margin-left: 16.66666667%;
}

.lgw-col-3 {
  width: 25%;
}

.clearfix {
  clear: both;
}

/* SECTIONS */

.lgw-content-section {
  margin-bottom: 60px;
}

/* SPACING */

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.vertical-center {
  margin-top: 50%;
}

.margin-standard {
  margin-bottom: 30px;
}

.marginTB {
  margin: 60px 0;
}

/* PLACEMENT */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

/* FONT WEIGHT*/
b,
.bold {
  font-weight: 600;
}

/*************************************************/
/*                     LISTS                     */
/*************************************************/

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*************************************************/
/*                     FONTS                     */
/*************************************************/


.lgw-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #464646;
}

.lgw-box h1,
.lgw-box h2,
.lgw-box h3,
.lgw-box h4,
.lgw-box h5,
.lgw-box h6,
.lgw-container h1,
.lgw-container h2,
.lgw-container h3,
.lgw-container h4,
.lgw-container h5,
.lgw-container h6 {
  font-family: 'Lato', sans-serif;
}

.lgw-box h1,
.lgw-container h1 {
  font-size: 32px;
  font-weight: 900;
  margin: 30px 0;
}

.lgw-box h2,
.lgw-container h2 {
  font-size: 23px;
  margin: 15px 0 30px;
}

.lgw-box h3,
.lgw-container h3 {
  font-size: 19px;
  color: #464646;
}

.lgw-box h4,
.lgw-container h4 {
  font-size: 17px;
}

.lgw-box h5,
.lgw-box h6,
.lgw-container h5,
.lgw-container h6 {
  /*font-size: 17px;*/
  font-style: italic;
}

.lgw-box p,
.lgw-container p {
  line-height: 1.7;
  margin: 0 0 10px;
}

.lgw-box .small,
.lgw-container .small {
  font-size: 13px;
}

.lgw-box .light,
.lgw-container .light {
  color: #828282;
}

.lgw-box a {
  color: #00aeef;
  text-decoration: none;
}

.lgw-box a:hover {
  color:#019ce2;
  text-decoration: underline;
}

.sub-link
.lgw-container .sub-link {
  color:#464646;
  text-decoration: underline;
}

.sub-link:hover
.lgw-container .sub-link:hover {
  color: #00aeef;
}

.lgw-container label {
  text-shadow: none;
  width: inherit;
  float: none;
  text-align: left;
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
}

.stats-big-value {
  font-size: 32px;
  font-weight: 300;
  line-height: normal;
}

code {
  white-space: pre-wrap;
  display: inline-block;
  word-break: break-all;
  padding: 5px 15px;
  margin-bottom: 15px;
  color: #c7254e;
  background-color: #f9f2f4;
}

.nowrap {
  white-space: nowrap;
}

/* ICONS*/

a.lengow_link_tooltip {
  padding: 0 5px;
  margin-top: 0;
  color: #555;
}


/* ALIGN */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

/*************************************************/
/*                     IMAGES                    */
/*************************************************/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}
