<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lengow_global_options>
            <store_credential>
                <global_store_enable>0</global_store_enable>
            </store_credential>
            <advanced>
                <global_tracking_id>sku</global_tracking_id>
            </advanced>
        </lengow_global_options>
        <lengow_export_options>
            <simple>
                <export_selection_enable>0</export_selection_enable>
                <export_product_type>configurable,simple,downloadable,grouped,virtual</export_product_type>
            </simple>
            <advanced>
                <export_default_shipping_country>FR</export_default_shipping_country>
                <export_default_shipping_method>flatrate_flatrate</export_default_shipping_method>
                <export_parent_image>0</export_parent_image>
                <export_file_enable>0</export_file_enable>
                <export_cron_enable>0</export_cron_enable>
            </advanced>
        </lengow_export_options>
        <lengow_import_options>
            <simple>
                <import_days>5</import_days>
                <import_customer_group>0</import_customer_group>
                <import_default_shipping_method>lengow_lengow</import_default_shipping_method>
            </simple>
            <advanced>
                <import_report_mail_enable>1</import_report_mail_enable>
                <import_ship_mp_enabled>0</import_ship_mp_enabled>
                <import_stock_ship_mp>0</import_stock_ship_mp>
                <import_preprod_mode_enable>0</import_preprod_mode_enable>
                <import_cron_enable>0</import_cron_enable>
            </advanced>
        </lengow_import_options>
    </default>
</config>