<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lengow_global_options>
            <store_credential>
                <global_environment>pre-prod</global_environment>
                <global_store_enable>0</global_store_enable>
            </store_credential>
            <advanced>
                <global_authorized_ip_enable>0</global_authorized_ip_enable>
                <global_tracking_enable>0</global_tracking_enable>
                <global_tracking_id>sku</global_tracking_id>
            </advanced>
        </lengow_global_options>
        <lengow_export_options>
            <simple>
                <export_selection_enable>0</export_selection_enable>
                <export_product_type>configurable,simple,downloadable,grouped,virtual</export_product_type>
                <export_product_status>0</export_product_status>
            </simple>
            <advanced>
                <export_default_shipping_country>FR</export_default_shipping_country>
                <export_default_shipping_method>flatrate_flatrate</export_default_shipping_method>
                <export_parent_image>0</export_parent_image>
                <export_file_enable>0</export_file_enable>
                <export_cron_enable>0</export_cron_enable>
            </advanced>
        </lengow_export_options>
        <lengow_import_options>
            <simple>
                <import_days>3</import_days>
                <import_customer_group>0</import_customer_group>
                <import_default_shipping_method>lengow_lengow</import_default_shipping_method>
                <import_currency_conversion_enable>1</import_currency_conversion_enable>
            </simple>
            <advanced>
                <import_report_mail_enable>1</import_report_mail_enable>
                <import_ship_mp_enabled>0</import_ship_mp_enabled>
                <import_stock_ship_mp>0</import_stock_ship_mp>
                <import_debug_mode_enable>0</import_debug_mode_enable>
                <import_cron_enable>0</import_cron_enable>
            </advanced>
        </lengow_import_options>
        <payment>
            <lengow>
                <active>1</active>
                <model>LengowConnectorFacade</model>
                <order_status>pending</order_status>
                <title>Lengow Payment</title>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <group>offline</group>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
            </lengow>
            <lengow_purchaseorder>
                <active>1</active>
                <model>LengowConnectorFacade</model>
                <order_status>new</order_status>
                <title>Lengow Payment (version 1.x)</title>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <group>offline</group>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
            </lengow_purchaseorder>
        </payment>
        <carriers>
            <lengow>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Lengow\Connector\Model\Carrier\Lengow</model>
                <name>Shipping from marketplace</name>
                <title>Lengow</title>
            </lengow>
        </carriers>
    </default>
</config>
