<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="admin_system_config_save_plugin" type="Lengow\Connector\Plugin\SaveConfig" sortOrder="1"/>
    </type>
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="remove_discount_on_order" type="Lengow\Connector\Plugin\RulesApplier" sortOrder="2" disabled="false"/>
    </type>
    <type name="Magento\Weee\Model\Config">
        <plugin name="remove_fpt_on_order" type="Lengow\Connector\Plugin\WeeeConfig" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="add_return_tracking_number" type="Lengow\Connector\Plugin\ReturnTrackingNumber" sortOrder="1" disabled="false" />
    </type>
    <virtualType name="LengowGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Lengow\Connector\Model\ResourceModel\Log\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">LengowGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="LengowGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="lengow_log_listing_data_source" xsi:type="string">Lengow\Connector\Model\ResourceModel\Log\Grid\Collection</item>
                <item name="lengow_order_listing_data_source" xsi:type="string">Lengow\Connector\Model\ResourceModel\Order\Grid\Collection</item>
                <item name="lengow_action_listing_data_source" xsi:type="string">Lengow\Connector\Model\ResourceModel\Action\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Lengow\Connector\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lengow_log</argument>
            <argument name="resourceModel" xsi:type="string">Lengow\Connector\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Lengow\Connector\Model\ResourceModel\Order\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lengow_order</argument>
            <argument name="resourceModel" xsi:type="string">Lengow\Connector\Model\ResourceModel\Order</argument>
        </arguments>
    </virtualType>
    <virtualType name="Lengow\Connector\Model\ResourceModel\Action\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lengow_action</argument>
            <argument name="resourceModel" xsi:type="string">Lengow\Connector\Model\ResourceModel\Action</argument>
        </arguments>
    </virtualType>
    <virtualType name="LengowConnectorFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Lengow\Connector\Model\Payment\Lengow::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">LengowConnectorValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">LengowConnectorCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="LengowConnectorValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">LengowConnectorConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="LengowConnectorCommandPool" type="Magento\Payment\Gateway\Command\CommandPool" />
    <virtualType name="LengowConnectorConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">LengowConnectorConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="LengowConnectorConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Lengow\Connector\Model\Payment\Lengow::CODE</argument>
        </arguments>
    </virtualType>
</config>
