<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="lengow_connector_send_action" instance="Lengow\Connector\Observer\SendAction"/>
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="lengow_connector_send_action" instance="Lengow\Connector\Observer\SendAction"/>
    </event>
    <event name="sales_order_payment_cancel">
        <observer name="lengow_connector_send_action" instance="Lengow\Connector\Observer\SendAction"/>
    </event>
    <event name="sales_quote_collect_totals_before">
        <observer name="lengow_connector_b2b_taxes_applicator" instance="Lengow\Connector\Observer\B2bTaxesApllicator"/>
    </event>
    <event name="sales_quote_collect_totals_after">
        <observer name="lengow_connector_qyote_item" instance="Lengow\Connector\Observer\QuoteItems"/>
    </event>
    <event name="sales_quote_address_collect_totals_after">
        <observer name="lengow_connector_address_collect_totals_observer" instance="Lengow\Connector\Observer\AddressTotals" />
    </event>
    <event name="sales_quote_product_add_after">
        <observer name="lengow_connector_checkout_cart_product_add_after" instance="Lengow\Connector\Observer\AddBundleToCart" />
    </event>    
</config>