<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lengow_Connector::lengow" title="Lengow" translate="title" module="Lengow_Connector" sortOrder="21" dependsOnModule="Lengow_Connector" resource="Lengow_Connector::lengow"/>
        <add id="Lengow_Connector::product" title="Products" translate="title" module="Lengow_Connector" action="lengow/product/index" parent="Lengow_Connector::lengow" sortOrder="2" dependsOnModule="Lengow_Connector" resource="Lengow_Connector::product"/>
        <add id="Lengow_Connector::log" title="Logs" translate="title"  module="Lengow_Connector" action="lengow/log/index" parent="Lengow_Connector::lengow" sortOrder="5" dependsOnModule="Lengow_Connector" resource="Lengow_Connector::log"/>
        <add id="Lengow_Connector::setting" title="Settings" translate="title" module="Lengow_Connector" action="adminhtml/system_config/edit/section/lengow_global_options" parent="Lengow_Connector::lengow" sortOrder="6" dependsOnModule="Lengow_Connector" resource="Lengow_Connector::setting"/>
    </menu>
</config>