<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lengow" translate="label" sortOrder="210">
            <label>Lengow</label>
        </tab>
        <section id="lengow_global_options" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Global settings</label>
            <tab>lengow</tab>
            <resource>Lengow_Connector::global</resource>
            <group id="global_information_credential" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <frontend_model>Lengow\Connector\Block\Adminhtml\System\Config\Check</frontend_model>
            </group>
            <group id="store_credential" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Identification settings</label>
                <field id="global_account_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Account ID</label>
                    <comment>Your Lengow Account ID</comment>
                </field>
                <field id="global_access_token" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Access token</label>
                    <comment>Your Lengow Access Token</comment>
                </field>
                <field id="global_secret_token" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret token</label>
                    <comment>Your Lengow Secret Token</comment>
                </field>
                <field id="global_store_enable" translate="label comment" type="select" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enable store</label>
                    <comment>Enable store to work with Lengow</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="global_catalog_id" translate="label comment" type="text" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Catalogues ID</label>
                    <comment>Your catalogues ID to import orders. Separate them by ' ; '</comment>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>All advanced settings</label>
                <field id="global_authorized_ip_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable authorisation by IP</label>
                    <comment>Enable this option if you want your export to be secured by IP. By default, your export is secured by a unique key.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="global_authorized_ip" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>IP authorised</label>
                    <comment>Authorised access by IP, separated by ;</comment>
                    <depends>
                        <field id="*/*/global_authorized_ip_enable">1</field>
                    </depends>
                </field>
                <field id="global_tracking_enable" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Lengow tracking</label>
                    <comment>This tracker allows you to retrieve order statistics generated on your site directly in Lengow.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="global_tracking_id" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tracker Product ID</label>
                    <comment>The name of the unique identifier entered in the Lengow</comment>
                    <source_model>Lengow\Connector\Model\Config\Source\Tracking</source_model>
                    <depends>
                        <field id="*/*/global_tracking_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="lengow_export_options" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Export settings</label>
            <tab>lengow</tab>
            <resource>Lengow_Connector::export</resource>
            <group id="simple" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Simple export settings</label>
                <field id="export_selection_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Export selected products only</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_product_type" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Product type to export</label>
                    <source_model>Lengow\Connector\Model\Config\Source\Type</source_model>
                </field>
                <field id="export_product_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Export disabled products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Advanced export settings</label>
                <field id="export_attribute" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Select attributes to export</label>
                    <source_model>Lengow\Connector\Model\Config\Source\Attribute</source_model>
                </field>
                <field id="export_default_shipping_country" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Country shipping</label>
                    <comment>Default country for shipping cost</comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="export_default_shipping_method" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Shipping method</label>
                    <comment>Default shipping method to calculate shipping cost</comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="export_default_shipping_price" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Shipping cost</label>
                    <comment>Default shipping cost if matching found</comment>
                </field>
                <field id="export_parent_image" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Merge images with parent products if available</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_link_parent_attribute_to_child" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Select attributes to export from parent for the child product</label>
                    <comment>Select attributes from parent product that should be assigned to child product</comment>
                    <source_model>Lengow\Connector\Model\Config\Source\Attribute</source_model>
                </field>
                <field id="export_file_enable" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Save feed on file</label>
                    <comment>Save the feed on a file</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_cron_enable" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Enable Magento cron</label>
                    <comment>Enable the scheduled task to export your feed every 4 hours</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="lengow_import_options" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Import settings</label>
            <tab>lengow</tab>
            <resource>Lengow_Connector::import</resource>
            <group id="simple" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Simple import settings</label>
                <field id="import_days" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Synchronize all orders updated since</label>
                    <comment>Choose a number of days (Max 10 days)</comment>
                    <validate>validate-digits validate-digits-range digits-range-1-10</validate>
                </field>
                <field id="import_customer_group" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Customer group</label>
                    <comment>Choose a customer group for Lengow customer</comment>
                    <source_model>Lengow\Connector\Model\Config\Source\Group</source_model>
                </field>
                <field id="import_default_shipping_method" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Shipping method</label>
                    <comment>Choose a shipping method for imported orders</comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="import_currency_conversion_enable" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Convert the currency of your order</label>
                    <comment>All orders imported into Magento will be automatically converted into the currency you've selected in Lengow</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced import settings</label>
                <field id="import_report_mail_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>I would like to be notified when there are issues regarding order importation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_report_mail_address" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mail for the report email</label>
                    <comment>Email separated by ;</comment>
                    <depends>
                        <field id="*/*/import_report_mail_enable">1</field>
                    </depends>
                </field>
                <field id="import_ship_mp_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import orders shipped by marketplaces</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_stock_ship_mp" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>I want to decrease my stock</label>
                    <comment>Use this option to take marketplaces orders into account for your Magento backoffice</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/import_ship_mp_enabled">1</field>
                    </depends>
                </field>
                <field id="import_anonymized_email" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import anonymized email</label>
                    <comment>Activate anonymization email</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_b2b_without_tax" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable import of B2B orders without tax</label>
                    <comment>Activate this option to import B2B orders without tax</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_debug_mode_enable" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Activate Debug Mode</label>
                    <comment>Use Debug Mode for testing and to simulate fictitious orders. Please note that you have to activate this setting on your pre-production server ONLY</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_cron_enable" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Magento cron</label>
                    <comment>Enable the scheduled task to import your orders every 30 minutes</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
